

<div class="a">
  <br>
  <br>
  <br>
  <br>
  
  
  <div class="portfolio-category-content">
  
  
  <div class="project_container">
  
  
    <div class="card hoverable">
  
      <div class="card-start">
  
         
 
        <br>
<p>You are successfully verified!</p>  
<div class="project_img">
          <img src="assets/images/verify1.png">
        </div>
        <a (click)="goToLink('https://dashboard-bd4c8.web.app/pages/dashboard/')">Go to User Dashboard</a>

<div class="card-end">

</div>
</div>
<style>
.a {
  background-color: #3B4D8C;
  
}

</style>