

<div class="a">
  <br>
  <br>
  <br>
  <br>
  
  
  <div class="portfolio-category-content">
  
  
  <div class="project_container">
  
  
    <div class="card hoverable">
  
      <div class="card-start">
  
         
 
        <br>
<p>Thanks for logging in, please authenticate with your phone number!</p>  
<div class="project_img">
          <img src="assets/images/verify1.png">
        </div>
        <div class="b">
        <a (click)="goToLink('https://digitalalpha-67b2b.web.app/#/verify')"><b><i>2Factor Authentication</i></b></a>
</div>
<div class="card-end">

</div>
</div>
<style>
.a {
  background-color: #3B4D8C;

  
}

.b {
font-weight: bold;}
</style>